{% extends "main.twig" %}

{% block title %}Not found{% endblock %}
    
{% block content %}
    <h2>Page not found</h2>
    <p>Malheureusement, la page que vous cherchez n'a pu être trouvée!</p>
    <p><a href="index.php">Retour à l'accueil</a></p>
{% endblock %}