<!DOCTYPE html>
<html>
    <head><meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
        <meta charset="utf-8">
        <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="src/views/js/order.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <link href="src/views/css/style.css" rel="stylesheet" type="text/css">
        <title>DadaQuiz − {% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <h1>DadaQuiz</h1>
            <h4>Vous pensez être intelligent?<br>Laissez-nous vous prouver le contraire!</h4>
        </header>
        <p class="ariane"><a href="index.php">Accueil</a></p>
        <section id="main">
            {% block content %}{% endblock %}
        </section>
        <footer>
            <p>Ce site a été codé fièrement par David Lumaye</p>
            <p>Il est valide W3C!</p>
        </footer>
    </body>
</html>
