/* GENERAL */
body{
    font-family: ubuntu;
}
/* HEADER */
header{
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}
/* CONTENT */
#main{
    width: 80vw;
    margin: auto;
}
.quiz-box{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: lightgray;
    margin-bottom: 5px;
}
.question{
    border: 1px dotted black;
    padding: 10px;
    margin-bottom: 10px;
}
.question h4{
    font-weight: bold;
    font-style: italic;
}
.question .answers{
    margin-left: 50px;
}
.question p img{
    margin-left: -36px;
}
.question .answers input{
    margin-right: 7px;
}
.result{
    font-weight: bolder;
    font-size: xx-large;
    border: 1px dashed black;
    width: 80%;
    margin: auto;
    background: lightblue;
    border-radius: 35px;
}
table{
    margin: auto;
    width: 80vw;
    border: 1px solid black;
}
table tr td,th{
    border: 1px solid black;
    text-align : center;
    padding: 3px 0px;
}
.sortable{
    list-style: none;
}
.sortable li{
    padding-left: 25px;
    margin-bottom: 2px;
    max-width: 250px;
}
.sortable li span:not(.reponse){
    position: absolute; margin-left: -1.3em;
}
/* FOOTER */

/* CLASSES GENERIQUES */
.error{
    width: 80%;
    margin: 7px auto;
    padding: 2px 6px;
    background-color: #FF6F6F;
    border: 1px solid red;
    border-radius: 7px;
}
.info{
    width: 80%;
    margin: 7px auto;
    padding: 2px 6px;
    background-color: #63D063;
    border: 1px solid darkgreen;
    border-radius: 7px;
}
.important{
    font-weight: bolder;
    font-size: x-large;
    background: orange;
}
.controls-fixed{
    text-align: center;
}
.correct{
    color: green;
    font-weight: bolder;
}
.wrong{
    font-weight: bolder;
    color: red;
}
.size-normal{
    font-size: medium;
}
.solution{
    font-style: italic;
    color: darkblue;
}
.ariane{
    margin-left: 10vw;
}
.box{
    border: 1px solid black;
    border-style: dashed;
    padding: 15px;
    border-radius: 25px;
    width: 80%;
    margin: 15px auto;
    background-color: lightgoldenrodyellow;
}
.box h5{
    font-size: x-large;
    font-weight: bold;
}
.box p a{
    font-size: large;
}
